{% extendes 'base.html' %}

{% block title %}
<title>relatorio</title>
{% endblock %}

{% block header %}
    <header>
        <section>
            <h2>IGREJA EVANGELICA ASSEMBLÉIA DE DEUS FILIAL GLORIA DO GOITÁ</h2>
            <h3>CAMPANHAS EVANGELIZADORAS</h3>
            <h3>PASTOR PRES.: AILTON JOSÉ ALVES</h3>
            <h3>PASTOR LOCAL: PR. GEDIEL RODRIGUES AZEVEDO SUPERVIDOR: DC. RODRIGO OLIVEIRA</h3>
            <h3>2° VICE -SUPERVISOR: AUX. GABRIEL LUCAS</h3>
            <h3>SECRETARIA GERAL: NATALIA SILVA | VICE-SECRETARIA GERAL: MAGNA ARAÚJO TESOUREIRA: MARIA DO CARMO (IRMÃ FIA)</h3>
        </section>
        <section>
            <img src="../static/logo_ieadpe.png" alt="logo_iead">
        </section>
        
    </header>
{% endblock %}

{% block main %}