@page {
    size: A4 portrait;
    margin-right: 1.49cm;
    margin-left: 1.69cm;
}

@page print {
    footer {
        page-break-after: always;
        overflow: auto;
    }
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 250px;
    grid-template-areas: 
    "header" 
    "content" 
    "footer";
    row-gap: 10px;
    margin-left: 10%;
    margin-right: 15%;
}

header {
    /* Alocamos os elementos numa area do display grid */
    grid-area: 'header';
    /* Definimos o display do elemento */
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 100%;

    & .header-text > h3 {
        font-size: 12px;
    }

    & .header-logo > img {
        width: 300px;
        height: auto;
        align-items: baseline;
    }
}

.total-items { 
    font-weight: bold;
    padding-left: 15px;
    /* margin-top: 0%; */
}

.inline-grid{
    display: grid;
    grid-template-columns: 5fr 1fr 8%;
    grid-template-rows: 1fr ;
}

.text-alg-left {
    text-align: left;
}

.saidas {
    width: 90vw;
}

.total {
    display: flex;
    flex-direction: column;
}

.signatures {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 3fr);
    grid-template-areas: "dir" "tes" "sup" "pr";
}

.item1 { grid-area: "dir";}
.item2 { grid-area: "tes";}
.item3 { grid-area: "sup";}
.item4 { grid-area: "pr";}

.sig-txt, .sig-line {
    text-align: center;
}

.sig-txt {
    font-size: 12px;
}

.sig-line {
    padding-top: 30px;
}