{% block title %}
<title>Relatorio</title>
{% endblock %}

{% block header %}
    <header class="">
        <section class="header-text">
            <h3>
                IGREJA EVANGELICA ASSEMBLÉIA DE DEUS FILIAL GLORIA DO GOITÁ<br>
                CAMPANHAS EVANGELIZADORAS <br>
                PASTOR PRES.: AILTON JOSÉ ALVES <br>
                PASTOR LOCAL: PR. GEDIEL RODRIGUES AZEVEDO SUPERVIDOR: DC. RODRIGO OLIVEIRA <br>
                2° VICE -SUPERVISOR: AUX. GABRIEL LUCAS <br>
                SECRETARIA GERAL: NATALIA SILVA | VICE-SECRETARIA GERAL: MAGNA ARAÚJO TESOUREIRA: MARIA DO CARMO (IRMÃ FIA) <br>
            </h3>
        </section>
        <section class="header-logo">
            <img src="../static/logo_ieadpe.png" alt="logo_iead">
        </section>  
    </header>
{% endblock %}
