{% macro registro_saida(descricao, valor) %}
    <li class="inline-grid">
        <span>{{ descricao }}.</span>
        <span>VALOR: R$</span>
        <span class="text-alg-left">{{ valor }}</span>
    </li>
{% endmacro %}

{% macro calcular_total(target, args) %}
    <div class="total inline-grid">
        <h3 class="bold">TOTAL DE {{ target|upper }} </h3>
        <h3 class="bold">R$ </h3>
        <h3 class="bold">{{ args|sum }}</h3>
    </div>    
{% endmacro %}

{% macro field_signature(cargo, pos) %}
    <div class="signature">
        <h1 class="sig-line item{{ pos }}"><strong>_________________________</strong></h1>
        <h3 class="sig-txt"><strong>{{ cargo|capitalize }}</strong></h3>
    </div>
{% endmacro %}